.footer{
    padding: 2rem;
}

.footer h2{
    font-weight: 800;
}

.footer li{
    padding: 10px 0;
}
.footer ul{
    padding-right: 70px;
}

.footer div:first-of-type{
    padding-bottom: 100px;
    border-bottom: 4px solid rgb(161, 98, 7);
}

