/* .footer{
    padding: 2rem;
}

.footer h2{
    font-weight: 800;
}

.footer li{
    padding: 10px 0;
}
.footer ul{
    padding-right: 10px;
}

.footer div:last-of-type{
    padding-bottom: 0px;
    border-bottom: 7px solid rgb(161, 98, 7);
}
 */
