@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .cart-positioning {

        position: fixed;
    
        top: 0;
    
        right: 0;
    
        background-color: whitesmoke;
    
        color:black;
    
        height: 60vh;
    
        width: 40vw;
    
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        
        
    
      }
    
}